.game-running {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.game-running > div {
  width: 80vw;
}

.game-header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quit-btn {
  background-color: var(--red-button);
  font-weight: bold;
}

.quit-btn:hover {
  background-color: var(--red-button-hover);
}

.game-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

