* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

#root {
}

:root {
  --button: #31474e;
  --button-hover: #587f8b;
  --blue-button: #00688b;
  --blue-button-hover: #087ba1;
  --red-button: #aa1c29;
  --red-button-hover: #b3333e;
  --green-button: #448a2e;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--button);
  color: white;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}